.footer {
  width: 100%;
  text-align: center;
  line-height: 2.0rem;
  color: #848995;
  min-height: 100px;
  background: #283c4c;
  padding-top: 10px;
  background: rgb(40, 60, 76);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  a {
    // color: $link-color;
    color: #848995;
  }
}
